.banner {
  background-image: url("/assets/chair-bg-img.png");
background-size: cover;
background-position: center;
height: 550px;
margin-top: -1px;
margin-left: -1px;
margin-right: -1px;
position:relative;
}
.header{
 position: absolute;
 display: flex;
 margin-left: 98px;
 margin-top: 38px;
}
.menu{
  display: flex;
  position: relative;
  font-family:'Montserrat';
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 520;
  margin-left: 700px;
  word-spacing: 10px;
}
.options:hover{
  color: #10C9C3;
  cursor: pointer;
}

.main-heading{
display: flex;
position: relative;
flex-direction: column;
}
.heading{
  
}

.description{
  
}